/* Reset */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	margin:0;
	overflow: hidden;
	padding:0;
	font-size: 13px;
	width:100%;
}

/* Header */
.main-header {
	color: #039;
	left: 80px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

/* Main content */

/* Map */
.map-container {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.map-container.collapsed {
	height: 50%;
}
#map {
	height: 100%;
	margin: 0px;
	width: 100%;
}

/* Nav */
#nav-main {
	position: fixed;
	top: 5px;
	right: 90px;
	z-index: 100;
}

#nav-main ul li{
	display: inline;
	margin: 0 5px 0 0;
}
/* Icons */
.icon {
	height: 22px;
	width: 22px;
	float: left;
	margin-right: 5px;
}

.icon.icon-table {
	background: url("../img/table-ico.png");
}
.icon.icon-add {
	background: url("../img/add-ico.png");
}

.icon.icon-close {
	height: 16px;
	width: 16px;
	background: url("../img/close-ico.png");
}

/* management box */
.bottom-box {
	background-color: white;
	bottom: 0;
	display: none;
	height: 50%;
	overflow: auto;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.bottom-box .close {
	float: right;
	margin: 10px;
}


/* Csv form */

.form-container .tip {
	padding-left: 5px;
	color: #555;
	font-style: italic;
	margin-left: 110px;
	opacity: 0;
}


.form-container fieldset {
	border: none;
}

/* Form */
.form-container {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #e8edff;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.form-container h1 {
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.form-container h1>span {
    display: block;
    font-size: 11px;
}

.form-container label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.form-container label {
    display: block;
    margin: 0px 0px 5px;
}
.form-container label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.form-container textarea{
	border-radius: 5px;
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

.button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    float: right;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    
}
.form-container .button:hover{
    background: #3EB1DD;
}



/* Table */
.table-container {
	margin: 20px;
}
.table-container table {
	border-collapse: collapse;
	width: 100%;
}
.table-container .rounded-corner-table th {
	background: #b9c9fe;
	color: #039;
	padding: 5px;
}
.table-container .rounded-corner-table th:first-child {
	border-radius: 5px 0 0 0;
}
.table-container .rounded-corner-table th:last-child {
	border-radius: 0 5px 0 0;
}

.table-container .rounded-corner-table td {
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	padding: 8px;
}
.table-container .rounded-corner-table td.no-results {
	text-align: center;
}

.table-container .rounded-corner-table tbody tr:hover td {
	background: #d0dafd;
}

.table-container .rounded-corner-table tfoot td{
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.table-container .rounded-corner-table .sorter {
	height: 10px;
	width: 10px;
	display: inline-block;
	background: url("../img/sort.svg");	
	background-size: 10px 10px;	
}
.table-container .rounded-corner-table .headerSortUp .sorter {
	height: 5px;	
}
.table-container .rounded-corner-table .headerSortDown .sorter {
	height: 5px;
	background-position-y: 5px;
}
.table-tools {
	position: absolute;
	right: 65px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	margin-top: -50px;
}
.table-tools ul {
	margin:0;
	padding: 0;
}
.table-tools li {
	list-style-type: none;
}
.tools-icon {
	background: url("../img/tools-ico.png");
	cursor: pointer;
	display: block;
	float: right;
	height: 20px;
	margin: 0 5px 2px 0;
	width: 20px;		
}

.configTable li {
	width: 40%;
	display: block;
	float: left;
	margin-left: 5%;
}
.configTable fieldset {
	clear: both;
}
.configTable h4 {
	margin-left: 20px;
}
.configTable p {
	margin: 10px 15px;
}
.configTable .action {
	margin: 10px;
}



/* Popup */

.overlay {
	background-color: #fff;
	height: 100%;
	opacity: 0.7;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
	margin: 0 25%;
	min-height: 100px;
	position: fixed;
	top: 20px;
	width: 50%;
	padding: 20px;
	background: white;
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
	border-radius: 3px;
	-webkit-transform: scale( 0.8 );
	-moz-transform: scale( 0.8 );
	-ms-transform: scale( 0.8 );
	-o-transform: scale( 0.8 );
	transform: scale( 0.8 );
	z-index:200;

}
.popup .popupContent {
	overflow: auto;	
}

.popup .close {
	cursor: pointer;
	float: right;
	
}


@media 
only screen and (max-width: 860px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.tools-icon {
		position: absolute;
		right: 20px;
		margin-top: 5px;
		z-index: 1;
	}

	.popup {
		margin: 0 12%;
		width:75%;
	}
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Id"; }
	td:nth-of-type(2):before { content: "Company Name"; }
	td:nth-of-type(3):before { content: "Founder"; }
	td:nth-of-type(4):before { content: "City"; }
	td:nth-of-type(5):before { content: "Country"; }
	td:nth-of-type(6):before { content: "Postal Code"; }
	td:nth-of-type(7):before { content: "Street"; }
	td:nth-of-type(8):before { content: "Photo"; }
	td:nth-of-type(9):before { content: "Home Page"; }
	td:nth-of-type(10):before { content: "Latitude"; }
	td:nth-of-type(11):before { content: "Longitude"; }
	td:nth-of-type(12):before { content: "Show"; }
}